
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#wrapper{
    margin: 0 auto;
    width:970px;
}
.banner{
    background-color:#fafafa;
    display:flex;
    padding: 15px;
    justify-content:space-between;
}
#main {
    background: radial-gradient(#6f5964 280px, #1a0a0e);
    padding:20px;
}
.header h2{
    padding-top:8px;
    margin-right: 5px;
}
h1{
    font-family: 'Balsamiq sans', cursive;
}
.hero {
    display:flex;
}

.me {
    width: 400px;
    border:5px solid #c0c0c0;
}
.aboutMe{
    margin-left: 25px;
    background: linear-gradient(127deg, rgba(255,255,255,1) 0%, rgb(238, 203, 236) 100%);
}
.aboutMe p{
    padding:10px;
}
a{
    color:black;
}
.container{
    justify-content:space-between;
    display:flex;
    padding:20px 0px;
}
.container h3,.aboutMe h3{
    color:white;
    padding:5px;
    background:linear-gradient(to top,#b2b2b5,#878593, #b2b2b5)
}
.post{
    background: linear-gradient(127deg, rgba(255,255,255,1) 0%, rgb(238, 203, 236) 100%);
    width:31%;
}
.post p{
    min-height:150px;
    font-size: 14px;
    padding:10px;
}
.icons {
    width:40px;
    padding:5px;
}
img {
    width:100%;
}

button{
    display:block;
    background-color:#008000;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size:16px;
    padding: 8px;
    box-shadow: 5px 5px rgba(140, 140, 140, .2);
    margin: 5px auto;

}
footer{
    text-align:center;
    background-color:#fafafa;
    padding: 15px;
}

footer a{
    font-style: italic;
}

footer img{
    width:15px;
    padding-top:10px;
}